.octo_modal, .octo_as {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1; 
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
 position: relative;
  background-color: #fefefe;
  margin: auto;
  //overflow: auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.octo_close, .octo_as_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Donator List */
.donator-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.donator-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.donator-list li:last-child {
  border-bottom: none;
}

.donator-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Open Modal Button */
.open-modal, .open-appstategetter, .btn{
  background-color: #337ab7;
  color: #fff;
  border: none;
  margin: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
/*hhhhgc*/
fieldset, dialog {
  border: 1px solid #4caf50;
  background-color: white;
  border-radius: 5px;
}

.fieldset-container {
background-color: #DFF0D8; 
            padding: 10px;
            border: 1px solid #3C763D;
            margin-top: 10px;
            border-radius: 4px; 
}
legend {
  font-size: 20px;
  color: #333;
  border: 1.2px solid #4caf50;
  background-color: white;
  border-radius: 5px;
}
        .donate-banner {
   display: none;
    position: fixed;
    bottom: 23px;
    background-color: #333;
    color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    text-align: center; 
}

#donateButton, #closeButton {
    background-color: #4CAF50;
    color: #fff;
    font-size: 11px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#closeButton {
    background-color: #d9534f;
}
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        /*
        .btn {
            padding: 10px 20px;
            font-size: 16px;
            color: black;
            cursor: pointer;
        }*/
       /* .myPrefix {
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }*/